.fondo{
    display: flex;
    min-height: 100vh;
}
.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS';
}

.formulario{
    max-width: 410px;
    margin: 0 auto;
}


.form-control{
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    height: 45px;
    border-radius: 15px;
}

.is-invalid {
    border: 2px solid #dc3545; 
  }

  
  .validacion{
    font-family: 'Tahoma';
    font-size: 10px;
    color: #b20e0e;
    font-weight: bolder;
    height: 1.5em; /* Espacio reservado fijo para el mensaje de error */
    margin: 0;
    padding: 0;
    line-height: 1.5;
    visibility: hidden; /* Oculto por defecto */
}

.form-label{
    font-size: 12px;
    color: #4e4d4d;
}

.form-login-form{
    color: #ffffff;
    background-color: #7432fa;
    border-radius: 15px;
    border-color: #ffffff;
    padding: 10px 20px ;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px; 
    display: block;
    margin: 10px auto; 
    text-align: center;
    font-size: 17px;
}
.form-login-form:hover{
        background-color: #46218f;
        color: #ffffff;
        border-color: #46218f;
}

.izquierda, .col-md-6.p-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.izquierda{
    background-color: #7432fa;
    align-items: center;
    text-align: center;
}

.welcome{
    font-weight: bolder;
    text-align: center;
    color: #ffffff;
}

.description-register{
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
}

.form-login-fondo{
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #7432fa;
    border-radius: 15px;
    
    padding: 10px 20px ;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    width: 300px; 
    display: block;
    margin: 10px auto; 
    text-align: center;
    font-size: 18px;
}
.form-login-fondo:hover{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #7432fa;
        
}

.disabled-button{
    background-color: #412873;
    color:#ffffff;
}

.regresar{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.register{
    font-weight:500;
    text-align: center;
    color: #7432fa;
    font-family: 'Trebuchet MS';
    padding: 20px;
}

.btn-atras{
    color: #ffffff;
    border-radius: 15px;
    border: 2px solid #ffffff;
    padding: 5px 10px ;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    width: 90px; 
    height: 40px;
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: -50px;

}
.btn-atras:hover{
        background-color: #ffffff;
        color: #7432fa;
        border-color: #7432fa;
}
