  <!-- Barra superior -->
  <nav class="direc d-flex justify-content-between align-items-center px-4 py-2">
    <ul class="navbar-nav d-flex">
      <li class="nav-item me-4">
          <a href="https://w.app/wappEmtrafesa" target="_blank" rel="noopener noreferrer" class="address">
              📞 987 456 217
          </a>
      </li>
      <li class="nav-item">
          <a href="#location" target="_blank" rel="noopener noreferrer" class="address">
              📍 Av. Túpac Amaru 185 Urb. Huerta Grande, Trujillo-Perú
          </a>
      </li>
    </ul>
    <ul class="navbar-nav d-flex">
      <li class="nav-item me-3">
        <a href="https://www.facebook.com/EmtrafesaPeru" target="_blank" rel="noopener noreferrer" class="address"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="nav-item me-3">
        <a href="https://www.instagram.com/emtrafesaperu/" target="_blank" rel="noopener noreferrer" class="address"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a href="#twitter" target="_blank" rel="noopener noreferrer" class="address"><i class="fa-brands fa-twitter"></i></a>
      </li>
    </ul>
  </nav>