.direc{
    background-color:#7432fa ;
    font-family: "Trebuchet MS";
    padding: 3px;
    font-size: 12px;
    justify-content: center;
}

.address{
    color: #ffffff;
    text-decoration: none;
}

.navbar{
    background-color: #ffffff;
    font-family: 'Trebuchet MS';
}

.navbar-brand {
    color: #7432fa;
    font-weight:lighter;
}


.navbar-nav .nav-item {
    margin-right: 55px; 
}

.nav-link{
    color: #7432fa;
    font-weight: 400; 
    transition: transform 0.2s ease;
}

.nav-link:hover{
    color: #7432fa;
    font-weight: 600; 
    transform: scale(1.05);
}

.stylebutton{
    margin-right: 50px;
}

.btn-outline-primary {
    color: #7432fa;
    border-radius: 10px;
    border-color: #7432fa;
    font-family: 'Trebuchet MS';
}

.btn-outline-primary:hover{
    background-color: #7432fa;
    color: #ffffff;
    border-color: #7432fa;
    font-family: 'Trebuchet MS';
}

.btn-primary{
    background-color: #7432fa;
    border: none;
    font-family: 'Trebuchet MS';
    border-radius: 10px;
}

.btn-primary:hover{
    background-color: #6740b6;
    font-family: 'Trebuchet MS';
}
