<section class="row fondo">
    <div class="col-md-6 p-4 derecha">
        <div class=" regresar d-flex">
                <a href="/" class="navbar-brand btn-atras">Atrás</a>
        </div>
        <h2 class="p-4" style="font-family: 'Trebuchet MS';">Inicia Sesión</h2>
            <form class="formulario row g-3 needs-validation" novalidate>
                <div class="col-md-12">
                    <label for="inputEmail" class="form-label">Correo Electrónico</label>
                    <input type="text" class=" form-control" id="inputEmail" placeholder="user@dominio.com" required>
                    <div class="invalid-feedback">
                        Por favor, ingrese un correo electrónico
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="inputPassword" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" id="inputPassword" placeholder="contraseña12345" required>
                    <div class="invalid-feedback">
                        Por favor, ingrese una contraseña
                    </div>
                </div>
                <div class="">
                    <button class="form-login-form" type="submit">Iniciar Sesión</button>
                </div>
            </form>
    </div>
    <div class="col-md-6 izquierda">
        <h1 class="welcome">¡Gracias por volver!</h1>
        <p class="description-register">
            Sigue disfrutando de esta experiencia inolvidable, inicia sesion y<br>
            compra pasajes a los mejores precios.<br>
            ¿Aún no tienes cuenta?
        </p>
        <div class="">
            <a href="/" class="navbar-brand form-login-fondo">Regístrate</a>
        </div>
    </div>
</section>